/* background */
.background {
    position: relative;
}
.image {
    width: 100%;
    height: 700px;
}
.dwafts{
    position: absolute;
    animation: dwafts 20s infinite;
}
.image2 {
    width: 400px;
}
.sun { 
    position: absolute;
    top: 20px;
    left: 900px;
    animation: sun 7s infinite;
}
.image3 {
    width: 200px;

}
.image4 {
    width: 200px;
}
.snowwhite {
    position: absolute;
    bottom: 150px;
    right: 750px;
    animation: snowwhite 10s infinite;

}
.image5 {
    width: 70px;
}
.bird1 {
    position: absolute;
    animation: bird1 5s infinite;
}
.image6 {
    width: 90px;
}
.bunny {
    position: absolute;
    animation: bunny 5s infinite;
}
.image7 {
    width: 90px;
}
.cloud {
    position: absolute;
    animation: cloud 7s infinite;
}
.cloud2 {
    position: absolute;
    animation: cloud2 7s infinite;
}

/* key frames */

@keyframes dwafts {
    from {
        bottom: 10px;
        left: 20px;
    }
    to {
        bottom: 10px;
        left: 1100px;
    }

}
@keyframes bunny {
    0% {bottom: 100px;
        right: 300px;}
    25% {bottom: 150px;
        right: 300px;}
    50% {bottom: 100px;
        right: 350px;}
    75% {bottom: 200px;
        right: 400px;}
    100%{bottom: 100px;
        right: 450px;}
}
@keyframes bird1 {
    0% { top: 180px;
        left: 400px; }
    25% { top: 300px;
        left: 550px;}
    50% { top: 150px;
        left: 680px;}
    75% { top: 50px;
        left: 750px;}
    100% {top: 450px;
        left: 870px;}
}

@keyframes sun {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

@keyframes snowwhite {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(20deg);}
    50%  {transform: rotate(0deg);}
    75%  {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}
@keyframes cloud {
    from {
        top: 20px;
        left: 40px;
    }
    to {
        top: 20px;
        left: 800px;
    }
}
@keyframes cloud2 {
    from {
        top: 80px;
        left: 20px;
    }
    to {
        top: 80px;
        left: 600px;
    }
}